:root {
  /* Text color */
  --clean-white: #ffffff;
  --title: #2e2f42;
  --primary-text: #434455;
  --footer-text: #f4f4fd;
  /* Background color */
  --main-background: #ffffff;
  --secondary-background: #f4f4fd;
  --hero-background: #2e2f42;
  --footer-background: #2e2f42;
  /* Other color */
  --iris-color: #4d5ae5;
}

body {
  margin: 0;
  background-color: var(--clean-white);
  color: var(--primary-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/**
  |============================
  | Reset
  |============================
*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | Button
  |============================
*/

.btn {
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  letter-spacing: 0.04em;
}

.main-button {
  color: var(--clean-white);
  background-color: var(--iris-color);
  border: none;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.secondary-button {
  color: var(--iris-color);
  background-color: var(--secondary-background);
  border: 1px solid #e7e9fc;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--clean-white);
  background-color: #404bbf;
}

/**
  |============================
  | Header
  |============================
*/
.header-nav {
  display: flex;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris-color);
}

.header-logo-element {
  color: var(--title);
}
.site-nav {
  display: flex;
}
.site-nav-item {
  color: var(--title);
  font-weight: 500;
}

.site-nav-item:hover,
.site-nav-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-nav {
  display: flex;
}

.address-item {
  color: var(--primary-text);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

/**
  |============================
  | Section Hero
  |============================
*/
.hero {
  background-color: var(--hero-background);
  text-align: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-title {
  color: var(--clean-white);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

/**
  |============================
  | Section Advantages
  |============================
*/
.secondary-title {
  margin-bottom: 8px;
  color: var(--title);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-list {
  display: flex;
}

/**
  |============================
  | Section Projects 
  |============================
*/
.section-title {
  color: var(--title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}

.projects-list {
  display: flex;
}
/**
  |============================
  | Section Our team
  |============================
*/
.team {
  background-color: var(--secondary-background);
}
.team-list {
  display: flex;
}
.team-list-element {
  background-color: var(--clean-white);
}
.team-list-text {
  font-size: 16px;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  background-color: var(--footer-background);
}
.footer-logo {
  color: var(--iris-color);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-element {
  color: var(--footer-text);
}
.footer-text {
  color: var(--footer-text);
}
